.git
.github
.venv
.venv_*
.venv_mac_backup_*
__pycache__
*.pyc
*.pyo
*.pyd
*.swp

.pytest_cache
.mypy_cache
.ruff_cache
.import_linter_cache
.coverage
coverage.xml
htmlcov

.run
mlruns
backups
logs
build
dist
*.egg-info
